* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #e2e2e2;
    position: relative;
}

h1 {
    font-size: 45px;
    font-weight: 900;
}

.text {
    text-align: center;
    margin: auto;
}

nav {
    width: 2rem;
    height: 2rem;
    background-color: #DF5352;
    border-radius: 50%;
    margin: 1rem 0;
}

.menu {
    width: 300px;
    height: 100%;
    color: rgb(175, 166, 166);
    background-color: #222222;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%, 0);
    transition: ;
}


.menu__toggle {
    width: 2rem;
    height: 2rem;
    background-color: #DF5352;
    border-radius: 50%;
    margin: 1rem 0;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style-type: none;
    padding: 0;
}

.menu__list span {
    margin-right: 2rem;
    font-size: 0.75rem;
    font-weight: 700;
}

.menu__list p {
    margin-left: 2.7rem;
}

.menu__list h3 {
    color: #FAFAFA;
    font-weight: 900;
    margin-bottom: 0.5rem;
}
